<!-- Button -->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#addCustomer">
          <i class="fa fa-plus"></i> Add customer
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="addCustomer">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h1 class="modal-title fs-5">Add customer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form #customerForm="ngForm" (ngSubmit)="addCustomer(customerForm)">
        <div class="modal-body">
          <div class="mb-2">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              #name="ngModel"
              [(ngModel)]="customer.name"
              [ngClass]="{'is-valid': !name.errors && name.touched}"
              required
              minlength="2"
              id="name"
              placeholder="Type your name">

              <div [hidden]="!name.errors?.['required']"  class="text-danger">
                Name is required
              </div>
              <div [hidden]="!name.errors?.['minlength']"  class="text-danger">
                The name must contain at least 2 characters
              </div>
          </div>

          <div class="mb-2">
            <label class="form-label">Last name</label>
            <input type="text" 
                  class="form-control"
                  id="last_name"
                  name="last_name"
                  class="form-control"
                  #last_name="ngModel"
                  [(ngModel)]="customer.last_name"
                  [ngClass]="{'is-valid': !last_name.errors && last_name.touched}"
                  required
                  minlength="2">

            <div [hidden]="!name.errors?.['required']"  class="text-danger">
              Last name is required
            </div>
            <div [hidden]="!name.errors?.['minlength']"  class="text-danger">
              The last name must contain at least 2 characters
            </div>
          </div>

          <div class="mb-2">
            <label class="form-label">Email</label>
            <input type="email" 
                  name="email" 
                  class="form-control"
                  id="last_name"
                  name="last_name"
                  class="form-control"
                  #email="ngModel"
                  [(ngModel)]="customer.email"
                  [ngClass]="{'is-valid': !email.errors && email.touched}"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  required
                  minlength="2"
                  placeholder="name@example.com">

            <div [hidden]="!email.errors?.['required']"  class="text-danger">
              Email is required
            </div>
            <div [hidden]="!email.errors?.['pattern']"  class="text-danger">
              Email is not valid
            </div>
          </div>

          <div class="mb-2">
            <label class="form-label">Balance</label>
            <input type="number" 
                  id="balance"
                  name="balance"
                  class="form-control"
                  #balance="ngModel"
                  [(ngModel)]="customer.balance"
                  [ngClass]="{'is-valid': !balance.errors && balance.touched}"
                  required>
            <div [hidden]="!balance.errors?.['required']"  class="text-danger">
              Balance is required
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Customer list -->
<section id="customers">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Customer list</h4>
          </div>
          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Balance</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers; let x = index">
                <td>{{ x + 1 }}</td>
                <td>{{ customer.name }} {{ customer.last_name }}</td>
                <td>{{ customer.balance | currency:'USD':'$' }}</td>
                <td>
                  <a routerLink="customer/edit/{{customer.id}}" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Edit
                  </a>
                </td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Side cards -->
      <div class="col-md-3">
        <div class="card text-center bg-danger text-white">
          <div class="card-body">
            <h3>Total balance</h3>
            <h4 class="display-4">
              {{ getTotalBalance() | currency: 'USD':'$' }}
            </h4>
          </div>
        </div>

        <div class="card text-center bg-success text-white">
          <div class="card-body">
            <h3>Total customers</h3>
            <h4 class="display-4">
              <i class="fa fa-users"></i> {{ customers.length }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>